@using Sitecore.Mvc
<html>
<body>
    <p>Today's date is: @DateTime.Now.ToShortDateString()</p>

    <header>
        <h1>Page header - dynamic</h1>
        @Html.Sitecore().Placeholder("pageHeader")
    </header>

</body>

</html>
