@model AbstractItemList

@foreach (AbstractItem item in Model.DisplayItems)
{
    <div class="abstract_item">
        <h3>@item.Title</h3>
        @item.Abstract
        <a href="@item.DisplayItem.GetLink()" class="readmore">
              @Model.ReadMoreTextItem.Text
        </a>    
   </div>
}