@model GlossaryList
           
<dl>
@foreach (Item glossaryItem in Model.DisplayItems)
{
    <dd><a href="@Html.Raw(glossaryItem.GetLink())">
        
        @Html.Launch().Field("Icon", glossaryItem, new { @maxWidth = "16", @maxHeight = "16", @as = "1" })
        @Html.Sitecore().Field("Title", glossaryItem, new { })
    </a></dd>    
    <dt>@Html.Sitecore().Field("Definition", glossaryItem, new { })</dt>
}
</dl>

