@model AbstractItem

<div id="abstractbanner"> 
 <div class="thickhr"></div>
 <div id="bannercolumns">
  <div class="picture">
   
   @Html.Launch().Field("Image", Model.DisplayItem, new { @maxWidth = "185", @maxHeight = "185" })

    @*  @Model.Image *@
  </div>
  <div class="text"> 
   <h1>@Model.Title</h1>
   @Model.Abstract
  </div><div class="floatClear"></div>
 </div>
 
</div>