<div class="floatClear"></div>
<div class="three_cols">
 <div class="threecolleft">@Html.Sitecore().Placeholder("left-column")</div>   
 <div class="threecolmiddle">@Html.Sitecore().Placeholder("middle-column")</div>    
 <div class="threecolright">@Html.Sitecore().Placeholder("right-column")</div>
 <div class="floatClear"></div>
</div>