@using Sitecore.Mvc

@{
    ViewBag.Title = "ContentPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContentPage</h2>

@*
    Default Model: Model.Title.ToLower()
    'Sitecore.Mvc.Presentation.RenderingModel' does not contain a definition for 'Title'*@

<div class="@Model.ToString()">
    <h1>@Html.Sitecore().Field("Title", Sitecore.Context.Item)</h1>
</div>
