<div id="content_top">@Html.Sitecore().Placeholder("content-top")</div>
<div id="content">@Html.Sitecore().Placeholder("content")</div>
<div id="sidebar">@Html.Sitecore().Placeholder("sidebar")</div>
