<div id="content_top">@Html.Sitecore().Placeholder("content-top")</div>
<div id="sidebar_right">@Html.Sitecore().Placeholder("sidebar")</div>
<div id="content_left">@Html.Sitecore().Placeholder("content")</div>