@{    
    var customerData = ViewData["CustomerData"] as Sitecore.Data.Items.Item;   
    var parentItem = Sitecore.Mvc.Presentation.PageContext.Current.Item.Parent;
    var parentItemPath = Sitecore.Links.LinkManager.GetItemUrl(parentItem).TrimStart(new char[] { '/' });
}

<h3>@Html.Encode(customerData.DisplayName)</h3>
<p><em>@Html.Encode(customerData.Statistics.Updated)</em></p>

<p>@Html.RouteLink(parentItem.DisplayName, "Sitecore", new { @pathInfo = parentItemPath }, new { @class = "test" })</p>
    