@{    
    
    var customerList = ViewData["CustomerListData"] as List<Sitecore.Data.Items.Item>;
    if (customerList == null || customerList.Count == 0)
    {
        return; 
    }    
    
    var editItem = Sitecore.Mvc.Presentation.PageContext.Current.Item.Children.FirstOrDefault(
        c => c.Name.Equals("profile", StringComparison.InvariantCultureIgnoreCase));

    if (editItem == null)
    {
        return;
    }
    
    var editItemPath = string.Format("{0}{1}", Sitecore.Context.Site.StartItem, Sitecore.Links.LinkManager.GetItemUrl(editItem));
    
}

<ul>
@foreach (Sitecore.Data.Items.Item customer in customerList)
{
    <li>
        @Html.RouteLink(
            customer.DisplayName, 
            "CustomerRoute",
             new
             {
                @customerId = CustomerID.Get(customer),
                @action="details", 
                @scItemPath = editItemPath,
                @test = "true"
            })
    </li>

}
</ul>