@model AbstractItem

<div class="abstract_item">
    <h3>@Model.Title</h3>
    @Model.Abstract
    <a href="@Model.DisplayItem.GetLink()" class="readmore">
        @Model.ReadMoreTextItem.Text
    </a>    
</div>

