@model SecondaryNavigationList
         
@{    
    var navId = "secnav";
    var navCssClass = "SecondaryNavigationList";    
}

<div class="secondarynav">
@Html.RenderNavigationList(Model.DisplayItems, Model.MaxDepth, navCssClass, navId)
<br style="clear: left" />
</div>

