@using Sitecore.Data.Fields
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    
}
<div>
 @*   Ensure value editable in page editor*@
    @Model.Item.Name has a title of @Html.Sitecore().Field("Title")
</div>