<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <search>
        <configuration type="Sitecore.Search.SearchConfiguration, Sitecore.Kernel" singleInstance="true">
          <indexes hint="list:AddIndex">
            <index id="web" type="Sitecore.Search.Index, Sitecore.Kernel">
              <param desc="name">$(id)</param>
              <param desc="folder">_web</param>
              <Analyzer ref="search/analyzer" />
              <locations hint="list:AddCrawler">
                <web type="Sitecore.Search.Crawlers.DatabaseCrawler, Sitecore.Kernel">
                  <Database>web</Database>
                  <Tags>web content</Tags>
                </web>
              </locations>
            </index>
          </indexes>
        </configuration>
    </search>
    <linkManager>
      <providers>
        <add name="sitecore" 
          patch:instead="*[@name='sitecore']"
          type="Sitecore.Links.LinkProvider, Sitecore.Kernel"
          addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="never" languageLocation="filePath" lowercaseUrls="false" shortenUrls="false" useDisplayName="false" />
      </providers>
    </linkManager>
    
    <pipelines>
      <initialize>
        <processor type="LaunchSitecoreMvc.Pipelines.Loaders.InitRoutes, LaunchSitecoreMvc" 
                   patch:instead="*[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      
      <mvc.actionExecuting>
        <!--<processor type="LaunchSitecoreMvc.Pipelines.GlimpseLogging.GlimpseEvents.PipelineBegin, LaunchSitecoreMvc"
                   patch:before="*[0]" />-->
        <!--<processor type="LaunchSitecoreMvc.Pipelines.GlimpseLogging.GlimpseEvents.PipelineEnd, LaunchSitecoreMvc"  />-->
      </mvc.actionExecuting>
      <mvc.actionExecuted>
      </mvc.actionExecuted>
      <mvc.resultExecuting>
      </mvc.resultExecuting>
      <mvc.resultExecuted>
      </mvc.resultExecuted>
      <mvc.createController>
      </mvc.createController>
      <mvc.requestBegin>
      </mvc.requestBegin>
      <mvc.requestEnd>
      </mvc.requestEnd>
      <mvc.renderRendering>
        <!--<processor type="LaunchSitecoreMvc.Pipelines.Response.RenderRendering.CacheKeyCheckProcessor, LaunchSitecoreMvc" 
                   patch:before="*[2]" />-->
        <!--<processor type="LaunchSitecoreMvc.Pipelines.Response.RenderRendering.TraceProcessor, LaunchSitecoreMvc" 
                  patch:before="*[4]" />-->
        <!--<processor type="LaunchSitecoreMvc.Pipelines.Response.RenderRendering.CustomExecuteRenderer, LaunchSitecoreMvc" 
                   patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" />-->
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>

